<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>FFTBG champ classes</title>
        <link type="text/css" rel="stylesheet" href="bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="bootstrap-vue.css" />
        <script src="vue.js"></script>
        <script src="bootstrap-vue.js"></script>

        <script src="leaderboard.js?v=2"></script>
        <style>
            #app {
                height: 100vh;
            }

            .table tr:hover, .table tr.b-table-row-selected {
                filter: brightness(80%);
            }

            .table td, .table th {
                padding: 0px !important;
                text-align: center;
            }

            img {
                max-width: 20px;
            }

            .fail {
                color: red;
            }

            .win {
                font-weight: bold;
                color: darkgreen;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div v-if="loading">Loading</div>
            <div v-else>
                <b-form-group class="mb-1">
                    <span>As of champ #<strong>{{ mostRecentChamp }}</strong> &mdash;</span>
                    Columns: <b-dropdown :text="columnToDisplay(columnMode)" size="sm" ref="columnDropdown">
                            <b-form-radio-group buttons stacked class="w-100" size="sm" v-model="columnMode" :options="columnOptions"></b-form-radio-group>
                    </b-dropdown>
                    Values: <b-dropdown :text="displayToDisplay(displayMode)" size="sm" ref="displayDropdown">
                            <b-form-radio-group buttons stacked class="w-100" size="sm" v-model="displayMode" :options="displayOptions"></b-form-radio-group>
                    </b-dropdown>
                    Season: <b-dropdown :text="seasonToDisplay(seasonMode)" size="sm" ref="seasonDropdown">
                            <b-form-radio-group buttons stacked class="w-100" size="sm" v-model="seasonMode" :options="seasonOptions"></b-form-radio-group>
                    </b-dropdown>
                </b-form-group>
                <b-table selectable selected-variant="" small borderless sticky-header="calc(100vh - 60px)" :items="tableData" :fields="tableColumns">
                    <template #table-colgroup="scope">
                        <col v-for="field in scope.fields" :key="field.key" :variant="variantForKey(field.key)">
                    </template>
                    <template #head(name)="data">
                        {{ data.label }}
                    </template>
                    <template #head(count)="data">
                        #
                    </template>
                    <template #head()="data">
                        <img :src="classToImage(data.column)" :alt="data.column" :title="data.column">
                    </template>
                    <template #cell(name)="data">
                        <div class="text-nowrap"><a :href="'champthings.html?user=' + data.value">{{ data.value }}</a></div>
                    </template>
                    <template #cell(count)="data">
                        {{ data.value }}
                    </template>
                    <template #cell()="data">
                        <div v-if="data.unformatted.length > 0">
                            <span class="win" :title="cellTooltip(data)">
                                <template v-if="displayMode == 'gender'">
                                    {{ genderDisplay(data) }}
                                </template>
                                <template v-else-if="displayMode == 'times'">
                                    &nbsp;{{ data.unformatted.length }}&nbsp;
                                </template>
                                <template v-else-if="displayMode == 'streak'">
                                    &nbsp;{{ Math.max(...data.unformatted.map(x => x[1])) }}&nbsp;
                                </template>
                                <template v-else>
                                    ✓
                                </template>
                            </span>
                        </div>
                        <div v-else>
                            <span class="fail" :title="cellTooltip(data)">×</span>
                        </div>
                    </template>
                </b-table>
            </div>
        </div>
    </body>
</html>
