<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.js"></script>
  <script>
    // Prestige/invalid for drop
    const blacklist = ["Trent", "MathSkill", "", "Doppelganger", "EquipPerfume", "Teleport2", "BladeGrasp", "RaidBoss"];
    window.onload = () => {
      new Vue({
        el: '#app',
        created() {
          this.loadFromApi();
        },
        data() {
          return {
            loading: 1,
            tournaments: [],
            search: "",
          };
        },
        methods: {
          async loadFromApi() {
            const api = await fetch("https://fftbg.com/api/tournaments?limit=5000");
            const jsonData = await api.json();
            const seen = [];
            const filteredData = jsonData.filter(x => (x["SkillDrop"] in seen || blacklist.includes(x["SkillDrop"])) ? 0 : (seen[x["SkillDrop"]] = 1));
            this.tournaments = filteredData.map(x => ({"Skill": x["SkillDrop"], "Last": new Date(x["LastMod"])}));
            this.loading = 0;
          },
        },
      });
    };
  </script>
</head>
<body>
  <div id="app">
    <div v-if="loading">Loading</div>
    <div v-else>
      <b-form-input v-model="search"></b-form-input>
      <b-table striped hover :items="tournaments" :filter="search"></b-table>
    </div>
  </div>
</body>
</html>