body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}

th, td {
    padding: 0;
    text-align: center;
    background-color: lightgray;
}

thead { position: sticky; top: 0; line-height: 0; }
tfoot { position: sticky; bottom: 0; line-height: 0; }

a { text-decoration: none; }
img { max-width: 20px; }
table { border-collapse: collapse; width: 100% }
tr:hover { filter: brightness(80%) !important; }
tr:nth-child(even) { filter: brightness(90%); }

.human { background-color: #d6d8db; }
.common { background-color: #fdfdfe; }
.strong { background-color: #c3e6cb; }
.elite { background-color: #b8daff; }
.have { color: darkgreen; font-weight: bold; padding: 0 3px 0 3px; }
.missing { color: red; font-weight: bold; padding: 0 3px 0 3px; }
