<!DOCTYPE html>
<html>
<head>
<title>AT</title>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.js"></script>


<style>
.form-group { margin-bottom: 0px; }
</style>
<script type="module">

import { AndorsTrailData } from './AndorsTrailData.js';
const dataUrl = "https://atsymboldot.github.io/data/data.json";

function roll(s) {
  return Math.floor(Math.random() * s);
}

function hit(p, m) {
  const probability = Math.floor(50 * (1 + 2 / Math.PI * Math.atan((p.attackChance - m.blockChance - 50.0) / 40.0)));
  return roll(100) < probability;
}

function damage(p, m) {
  const range = p.attackDamage.max - p.attackDamage.min + 1;
  let rawdmg = p.attackDamage.min + roll(range);
  const critProbability = Math.floor(2 * Math.sqrt(5 * p.criticalSkill) - 5);
  if (roll(100) < critProbability) {
    rawdmg *= p.criticalMultiplier;
  }
  return Math.max(rawdmg - m.damageResistance, 0);
}

function simulate(p, m) {
  const DURATION_LIMIT = 200;
  let playerhp = p.maxHP;
  let monsterhp = m.maxHP;
  let turns = 0;
  while (playerhp > 0 && monsterhp > 0) {
    turns++;
    const pattacks = Math.floor(p.maxAP / p.attackCost);
    for (let i = 0; i < pattacks; i++) {
      if (hit(p, m)) {
        monsterhp -= damage(p, m);
      }
    }
    if (monsterhp <= 0) break;
    const mattacks = Math.floor(m.maxAP / m.attackCost);
    for (let i = 0; i < mattacks; i++) {
      if (hit(m, p)) {
        playerhp -= damage(m, p);
      }
    }
    if (turns >= DURATION_LIMIT) {
      break;
    }
  }
  let outcome = (playerhp <= 0 ? -1 : monsterhp <= 0 ? 1 : 0);
  return { turns, playerhp, monsterhp, outcome };
}

function stats(p, m, n) {
  let turnsWinSum = 0, turnsLossSum = 0, playerRemHp = 0, monsterRemHp = 0, winCount = 0, lossCount = 0, tieCount = 0;
  for (let i = 0; i < n; i++) {
    const res = simulate(p, m);
    if (res.outcome == 1) {
      winCount++;
      turnsWinSum += res.turns;
      playerRemHp += res.playerhp;
    } else if (res.outcome == -1) {
      lossCount++;
      turnsLossSum += res.turns;
      monsterRemHp += res.monsterhp;
    } else {
      tieCount++;
    }
  }
  return { turnsWinSum, turnsLossSum, playerRemHp, monsterRemHp, winCount, lossCount, tieCount, n };
}

function defaultPlayer() {
  return {
    attackChance: 60,
    attackDamage: {
      min: 1,
      max: 1,
    },
    blockChance: 0,
    damageResistance: 0,
    criticalSkill: 0,
    criticalMultiplier: 1,
    maxHP: 25,
    maxAP: 10,
    attackCost: 5,
    moveCost: 6,
  };
}

window.onload = async () => {
  const data = new AndorsTrailData();
  await data.initialize(dataUrl);
  new Vue({
    el: '#app',
    data() {
      return {
        player: defaultPlayer(),
        monster: defaultPlayer(),
        iterations: 1000,
        results: {},
        allResults: {},
        precision: 2,
        presetMonster: {},
        monsterData: this.formatMonsters(data.getMonsters()),
      };
    },
    watch: {
      presetMonster(m) {
        this.monster.attackChance = m.attackChance;
        this.monster.attackDamage.min = m.attackDamage.min;
        this.monster.attackDamage.max = m.attackDamage.max;
        this.monster.blockChance = m.blockChance;
        this.monster.damageResistance = m.damageResistance;
        this.monster.criticalSkill = m.criticalSkill;
        this.monster.criticalMultiplier = m.criticalMultiplier;
        this.monster.maxHP = m.maxHP;
        this.monster.maxAP = m.maxAP;
        this.monster.attackCost = m.attackCost;
        this.monster.moveCost = m.moveCost;
      }
    },
    methods: {
      calculate() {
        this.results = stats(this.player, this.monster, this.iterations);
      },
      calculateAll() {
        this.allResults = {};
        for (const monster of this.monsterData) {
          this.allResults[monster.text] = stats(this.player, monster.value, 100);
        }
        this.$forceUpdate();
      },
      winRate() {
        const results = this.results;
        return results.n ? `${(100 * results.winCount / results.n).toFixed(this.precision)}%` : "-";
      },
      turnsToWin() {
        const results = this.results;
        return results.winCount ? `${(results.turnsWinSum / results.winCount).toFixed(this.precision)}` : "-";
      },
      turnsToLose() {
        const results = this.results;
        return results.lossCount ? `${(results.turnsLossSum / results.lossCount).toFixed(this.precision)}` : "-";
      },
      playerHpLeft() {
        const results = this.results;
        return results.winCount ? `${(results.playerRemHp / results.winCount).toFixed(this.precision)}` : "-";
      },
      monsterHpLeft() {
        const results = this.results;
        return results.lossCount ? `${(results.monsterRemHp / results.lossCount).toFixed(this.precision)}` : "-";
      },
      formatMonsters(mlist) {
        return mlist.map(m => ({ value: m, text: `${m.name} (${m.id})` }));
      },
    },
  });
  document.getElementById('preload').style.display = 'none';
  document.getElementById('app').style.display = 'block';
};
</script>
</head>
<body>
<div id="preload">Loading, please wait...</div>
<div id="app" style="display: none;">
  <b-card-group deck>
    <b-card title="Player stats">
      <b-form-group label-cols="6" label-size="sm" label="Max HP">
        <b-form-input number v-model="player.maxHP" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Max AP">
        <b-form-input number v-model="player.maxAP" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Attack cost">
        <b-form-input number v-model="player.attackCost" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Attack chance">
        <b-form-input number v-model="player.attackChance" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Min damage">
        <b-form-input number v-model="player.attackDamage.min" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Max damage">
        <b-form-input number v-model="player.attackDamage.max" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Critical skill">
        <b-form-input number v-model="player.criticalSkill" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Critical multiplier">
        <b-form-input number v-model="player.criticalMultiplier" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Block chance">
        <b-form-input number v-model="player.blockChance" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Damage resistance">
        <b-form-input number v-model="player.damageResistance" size="sm"></b-form-input>
      </b-form-group>
    </b-card>
    <b-card title="Monster stats">
      <b-form-group label-cols="6" label-size="sm" label="Max HP">
        <b-form-input number v-model="monster.maxHP" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Max AP">
        <b-form-input number v-model="monster.maxAP" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Attack cost">
        <b-form-input number v-model="monster.attackCost" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Attack chance">
        <b-form-input number v-model="monster.attackChance" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Min damage">
        <b-form-input number v-model="monster.attackDamage.min" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Max damage">
        <b-form-input number v-model="monster.attackDamage.max" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Critical skill">
        <b-form-input number v-model="monster.criticalSkill" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Critical multiplier">
        <b-form-input number v-model="monster.criticalMultiplier" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Block chance">
        <b-form-input number v-model="monster.blockChance" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label-cols="6" label-size="sm" label="Damage resistance">
        <b-form-input number v-model="monster.damageResistance" size="sm"></b-form-input>
      </b-form-group>
      <div>
        Monster list:
        <b-form-select v-model="presetMonster" :options="monsterData" :select-size="5" size="sm"></b-form-select>
      </div>
    </b-card>
    <b-card title="Outcome stats">
      <b-form-group label-cols="6" label-size="sm" label="Iterations">
        <b-form-input number v-model="iterations" size="sm"></b-form-input>
      </b-form-group>
      <div v-if="results.n">
        Outcomes (W-T-L): {{ results.winCount }}-{{ results.tieCount }}-{{ results.lossCount }}<br>
        Win rate: {{ winRate() }}<br>
        Avg turns to win: {{ turnsToWin() }}<br>
        Avg player HP left in wins: {{ playerHpLeft() }}<br>
        Avg turns to lose: {{ turnsToLose() }}<br>
        Avg enemy HP left in losses: {{ monsterHpLeft() }}<br>
      </div>
      <div v-else>Nothing yet - calculate something!</div>
      <b-button class="my-3" variant="success" @click="calculate">Recalculate</b-button>
    </b-card>
    <b-card title="Full bestiary">
      Warning: takes a long time!<br>
      <b-button class="my-3" variant="success" @click="calculateAll">Recalculate</b-button>
      <ul>
        <li v-for="(result, monster) in allResults">{{ monster }}: {{ result.winCount * 1e2 / result.n }}% win chance</li>
      </ul>
    </b-card>
  </b-card-group>
</div>
</body>
</html>
